# Dependencies
node_modules/
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directories
.npm/
.eslintcache
.env
.env.test
.env.production

# System files
.DS_Store
Thumbs.db
